language: ruby
rvm:
  - 2.0.0
  - 2.1.5
  - 2.2.0
script:
  - bundle exec foodcritic -f any --tags ~FC003 --tags ~FC015 --tags ~FC023 .
  - bundle exec rubocop
  - bundle exec rspec --color --format progress


